<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @artist.name %></strong>
</h2>

<p>
  <strong>Genres:</strong>
  <% @artist.genres.each do |genre| %>
    <%= genre.name %>
  <% end %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @artist.bio %>
</p>

<table>
  <thead>
    <tr>
      <th align="left">Albums</th>
    </tr>
  </thead>

  <tbody>
    <% @artist.albums.each do |album| %>
      <tr>
        <td><%= link_to album.name, Album.find_by_name(album.name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
