<%= form_for(song_review) do |f| %>
  <% if song_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song_review.errors.count, "error") %> prohibited this song_review from being saved:</h2>

      <ul>
      <% song_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :song_id %>
    <%= f.number_field :song_id %>
  </div>

  <div class="field">
    <%= f.label :review %>
    <%= f.text_area :review %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
