<%= form_for(song_calification) do |f| %>
  <% if song_calification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song_calification.errors.count, "error") %> prohibited this song_calification from being saved:</h2>

      <ul>
      <% song_calification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :song_id, :value => @song.id %>

  <div class="field">
    <%= f.label :your_grade %>
    <%= f.select :grade, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
