<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @song.name %></strong>
</h2>

<p>
  <strong>Album:</strong>
  <%= @song.album_id %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist_id %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
