<%= form_for(artist_review) do |f| %>
  <% if artist_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist_review.errors.count, "error") %> prohibited this artist_review from being saved:</h2>

      <ul>
      <% artist_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :artist_id %>
    <%= f.number_field :artist_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :review %>
    <%= f.text_area :review %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
