<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @album.name %></strong>
</h2>

<p>
  <strong>Artist:</strong>
  <%= Artist.find(@album.artist_id).name %>
</p>

<p>
  <strong>Artwork:</strong><br>
  &emsp;<%= image_tag(@album.image.url, size: 200) %>
</p>

<p>
  <strong>Genres:</strong>
  <% @album.genres.each do |genre| %>
    <%= genre.name %>
  <% end %>
</p>
<table>
  <thead>
    <tr>
      <th align="left">Songs</th>
    </tr>
  </thead>

  <tbody>
    <% @album.songs.each do |song| %>
      <tr>
        <td><%= link_to song.name, song_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
