<%= form_for(artist_calification) do |f| %>
  <% if artist_calification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist_calification.errors.count, "error") %> prohibited this artist_calification from being saved:</h2>

      <ul>
      <% artist_calification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :artist_id %>
    <%= f.number_field :artist_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :grade.integer %>
    <%= f.text_field :grade.integer %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
