<section id="two">
    <p id="notice" align="center"><%= notice %></p>
    <div class="inner">
        <article>
            <div class="content">
                <header>
                    <h3><%=link_to 'Genres', genres_path %></h3>
                </header>
                <div class="image fit">
                    <%= image_tag 'genres.jpg' %>
                </div>
                <p>Here you'll find all the music genres we have to offer</p>
            </div>

        </article>
        <article class="alt">
            <div class="content">
                <header>
                    <h3><%=link_to 'Artists', artists_path %></h3>
                </header>
                <div class="image fit">
                    <%= image_tag 'artists.jpg' %>
                </div>
                <p>All your favourite artists!</p>
            </div>
            <div class="content">
                <header>
                    <h3><%=link_to 'Albums', albums_path %></h3>
                </header>
                <div class="image fit">
                    <%= image_tag 'albums.jpg' %>
                </div>
                <p>All your favourite albums!</p>
            </div>
            <div class="content">
                <header>
                    <h3><%=link_to 'Songs', songs_path %></h3>
                </header>
                <div class="image fit">
                    <%= image_tag 'songs.jpg' %>
                </div>
                <p>All your favourite songs!</p>
            </div>
        </article>
    </div>
</section>
<section="main">
    <header class="major special">
        <h1>News</h1>
        <p>Here's to keep you updated on all the news about your favourite artists</p>
    </header>
    <% New.all.each do |n| %>
        <header>
            <h3><%= n.title %></h3>
            <p><%= n.content %></p>
        </header>
        <hr />
    <% end %>
    <% # if current_user.admin? %>
    <% @news = New.new %>
    <%= link_to 'Add New', new_news_path %>
    <% # end %>

</section>
