<p id="notice"><%= notice %></p>

<h1>Teafy</h1>
<br>
<h2>
<%=link_to 'Genres', genres_path %>
&emsp;
<%=link_to 'Artists', artists_path %>
&emsp;
<%=link_to 'Albums', albums_path %>
&emsp;
<%=link_to 'Songs', songs_path %>
</h2>
