<p id="notice"><%= notice %></p>

<p>
  <strong>Playlist:</strong>
  <%= @playlist_review.playlist_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @playlist_review.user_id %>
</p>

<p>
  <strong>Review:</strong>
  <%= @playlist_review.review %>
</p>

<%= link_to 'Edit', edit_playlist_review_path(@playlist_review) %> |
<%= link_to 'Back', playlist_reviews_path %>
